<form class="flex flex-col" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input
    placeholder="email"
    type="email"
    class="form-input md:w-96 w-64 ps-3 py-1 mt-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    name="email"
    formControlName="email"
  />
  <ng-container *ngIf="loginForm.touched && loginForm.dirty">
    <p
      *ngIf="loginForm.get('email')?.hasError('required')"
      class="text-red-400"
    >
      Field is required
    </p>
    <p class="text-red-400" *ngIf="loginForm.get('email')?.hasError('email')">
      Please enter a valid email address
    </p>
  </ng-container>
  <input
    placeholder="password"
    type="password"
    class="md:w-96 w-64 ps-3 py-1 mt-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    name="password"
    formControlName="password"
  />
  <p
    class="text-red-400"
    *ngIf="
      loginForm.touched &&
      loginForm.dirty &&
      loginForm.get('password')?.hasError('required')
    "
  >
    Password is required
  </p>
  <button
    type="submit"
    class="bg-black shadow-2xl shadow-indigo-300/50 border border-transparent hover:border-gray-400 text-white rounded-lg md:w-96 w-64 py-2 mt-4"
    [disabled]="!loginForm.valid"
  >
    Submit
  </button>
</form>
