<section class="w-80% min-h-screen py-5 px-5 pt-32 md:py-32 md:px-32">
  <p class="sm:text-5xl text-2xl font-extrabold font-geologica pb-2 sm:pb-10">
    TOP INVESTORS
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
    <ng-container *ngFor="let item of investors">
      <app-investor-card
        [name]="item?.tempData?.name"
        [imgsrc]="item?.tempData?.profileImgUrl"
        [description]="item?.description"
        [investorId]="item?._id"
      ></app-investor-card>
    </ng-container>
  </div>
</section>
