<div
  [routerLink]="'/investors/profile/' + investorId"
  class="border cursor-pointer w-full max-w-sm mx-auto pl-3.5 pr-5 pt-5 pb-3.5 rounded-lg border-solid border-slate-200 max-md:mt-9"
>
  <div class="flex flex-col items-center p-10">
    <img
      class="w-24 h-24 mb-3 rounded-full shadow-lg"
      [src]="imgsrc ? imgsrc : '../../../../assets//images/profile/profile.png'"
      alt="profile"
    />
    <h5 class="mb-1 text-xl font-medium text-white">{{ name }}</h5>
    <p class="text-sm text-gray-200">
      {{ description }}
    </p>
  </div>
</div>
