<section class="pt-28 flex flex-col items-center mb-20">
  <div class="w-50%">
    <div class="pb-6 px-4 text-center">
      <p class="sm:text-5xl text-2xl font-extrabold font-geologica">
        PERSONAL INFO
      </p>
      <P class="px-4 text-gray-400"
        >We'll reach out if there are any issues upon any updates you make.</P
      >
    </div>
    <ng-container *ngIf="userData">
      <label for="profile-image">
        <div>
          <img
            [src]="
              userData.photo || '../../../../assets/images/profile/profile.png'
            "
            alt="profile"
            class="sm:w-32 sm:h-32 w-24 h-24 mx-auto rounded-full dark:bg-gray-500 aspect-square cursor-pointer"
          />
        </div>
        <input
          type="file"
          id="profile-image"
          name="profile-image"
          class="hidden"
          (change)="fileChangeEvent($event)"
          accept="image/*"
        />
      </label>

      <div class="divide-y divide-gray-700">
        <div class="px-6 pt-4 flex justify-between">
          <div>
            <label class="text-lg">Name</label>
            <p class="text-sm text-gray-400">{{ userData.name }}</p>
          </div>
          <button (click)="toogleEditButton(SelectTab.EditName)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
              />
            </svg>
          </button>
        </div>
        <ng-content select=".name-input-edit"></ng-content>
        <div class="px-6 pt-4 flex justify-between">
          <div>
            <label class="text-lg">Email</label>
            <p class="text-sm text-gray-400">{{ userData.email }}</p>
          </div>
        </div>
        <ng-content select=".email-input-edit"></ng-content>
        <div class="px-6 pt-4 flex justify-between">
          <div>
            <label class="text-lg">Phone Number</label>
            <p class="text-sm text-gray-400">{{ userData.phone }}</p>
          </div>
          <button (click)="toogleEditButton(SelectTab.EditPhone)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
              />
            </svg>
          </button>
        </div>
        <ng-content select=".phone-input-edit"></ng-content>
        <!-- <div class="px-6 pt-4 flex justify-between">
        <label class="text-lg">Address</label>
        <button (click)="toogleEditButton(SelectTab.EditAddress)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            />
          </svg>
        </button>
      </div> -->
        <!-- <ng-content select=".address-input-edit"></ng-content> -->
      </div>
    </ng-container>
  </div>

  <!-- Main modal -->
  <div
    [ngClass]="{ hidden: !modalOpen }"
    class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 w-full max-w-md shadow-md"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          format="png"
          (imageLoaded)="imageLoaded()"
          (imageCropped)="imageCropped($event)"
        ></image-cropper>

        <!-- Modal footer -->
        <div
          class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
        >
          <button
            type="button"
            (click)="crop()"
            class="text-white bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            I accept
          </button>
          <button
            (click)="cancelModal()"
            type="button"
            class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
          >
            Decline
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
