<form class="flex flex-col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ul
    class="items-center my-3 w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
  >
    <li
      class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
    >
      <div class="flex items-center ps-3">
        <input
          id="founder-radio"
          type="radio"
          name="role"
          formControlName="role"
          value="FOUNDER"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
          checked
        />
        <label
          for="founder-radio"
          class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Founder</label
        >
      </div>
    </li>
    <li class="w-full dark:border-gray-600">
      <div class="flex items-center ps-3">
        <input
          id="investor-radio"
          type="radio"
          name="role"
          formControlName="role"
          value="INVESTOR"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
        />
        <label
          for="investor-radio"
          class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Investor</label
        >
      </div>
    </li>
  </ul>

  <input
    placeholder="firstname"
    type="text"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    formControlName="firstName"
  />
  <p
    class="text-red-400"
    *ngIf="(registerFormControl.firstName.touched) && registerFormControl.firstName.errors?.['required']"
  >
    firstname is required
  </p>
  <input
    placeholder="lastname"
    type="text"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    formControlName="lastName"
  />
  <p
    class="text-red-400"
    *ngIf="(registerFormControl.lastName.touched) && registerFormControl.lastName.errors?.['required']"
  >
    lastname is required
  </p>
  <input
    placeholder="email"
    type="email"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    formControlName="email"
  />
  <p
    class="text-red-400"
    *ngIf="(registerFormControl.email.touched) && registerFormControl.email.errors?.['required']"
  >
    email is required
  </p>
  <input
    placeholder="password"
    type="password"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    formControlName="password"
  />
  <p
    class="text-red-400"
    *ngIf="(registerFormControl.password.touched) && registerFormControl.password.errors?.['required']"
  >
    password is required
  </p>
  <p
    class="text-red-400"
    *ngIf="
      registerFormControl.password.touched &&
      registerFormControl.password.errors?.['invalidPassword']
    "
  >
    Password should have minimum 8 characters, at least 1 uppercase letter, 1
    lowercase letter and 1 number password is required
  </p>
  <input
    placeholder="confirm password"
    type="password"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
    formControlName="confirmPassword"
  />
  <p
    class="text-red-400"
    *ngIf="(registerFormControl.confirmPassword.touched) && registerFormControl.confirmPassword.errors?.['required']"
  >
    confirm password is required
  </p>
  <p
    class="text-red-400"
    *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.['passwordMismatch']"
  >
    Passwords doesnot match
  </p>
  <app-loading-button
    [disabled]="!registerForm.valid"
    [label]="'Register'"
    [type]="'submit'"
    [buttonClass]="
      'bg-black shadow-2xl shadow-indigo-300/50 border border-transparent hover:border-gray-400 text-white rounded-lg md:w-96 w-64 py-2 mt-4'
    "
  ></app-loading-button>
</form>
