<form class="flex flex-col"  #loginForm="ngForm" (ngSubmit)="signup()">
  <input
    placeholder="email"
    type="email"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
  />
  <input
    placeholder="password"
    type="password"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
  />
  <input
    placeholder="confirm password"
    type="password"
    class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none"
  />
  <button 
    class="bg-black hover:border-gray-400 hover:border text-white rounded-lg md:w-96 w-64 py-2 mt-4"
  >
    Submit
  </button>
</form>
