<div class="p-4 mb-6 sm:w-2/3  border border-black shadow-lg">
    <div class="bg-white">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <img
            class="mr-2 h-10 w-10 rounded-full object-cover"
            src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="profile"
          />
          <div class="mt-2">
            <p class="font-semibold text-sm text-gray-900">Alex Stanton</p>
          </div>
        </div>
      </div>
      <div class="my-6 w-full text-sm font-normal text-gray-500">
        <textarea
          rows="1"
          class="text-grey-darker border border-black w-full"
          placeholder="pitch your idea..."
        ></textarea>
      </div>
      <div class="flex justify-end">
        <button class="bg-black text-white px-4 py-2">Post</button>
      </div>
    </div>
  </div>