<div class="bg-cover bg-center bg-no-repeat" style="background-image: url(./assets/images/backgrounds/bg.webp)">
  <header class="fixed w-full">
    <nav class="backdrop-blur-2xl">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="#">
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-white hover:text-violet-300"
            >Elevate
          </span>
        </a>
        <div class="flex items-center md:order-2">
          <button
            type="button"
            class="electric-violet hover:electric-violet-hover mr-3 rounded-xl hidden md:block border border-gray-500 px-5 py-1"
          >
            Get started
          </button>
          <button type="button" class="md:block hidden">Login</button>
          <!-- <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 " id="user-menu-button"
          aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="../assets/images/profile/IMAGE.png" alt="user photo">
        </button> -->
          <!-- Dropdown menu -->
          <div
            class="z-50 hidden my-4 text-base list-none divide-y rounded-lg shadow bg-black border border-gray-600 divide-gray-600"
            id="user-dropdown"
          >
            <div class="px-4 py-3">
              <span class="block text-sm text-white">Bonnie Green</span>
              <span class="block text-sm truncate text-gray-400"
                >bonnie@gmail.com
              </span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white"
                  >Profile
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white"
                  >Sign out
                </a>
              </li>
            </ul>
          </div>
          <button
            data-collapse-toggle="navbar-user"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden rounded-lg focus:outline-none dark:text-gray-400 hover:bg-slate-400"
            aria-controls="navbar-user"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        </div>
        <!-- navbar items -->
        <div
          class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
          id="navbar-user"
        >
          <ul
            class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-600 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 text-center"
          >
            <li>
              <a
                href="#"
                class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-violet-300 hover:bg-gray-600 md:hover:bg-transparent"
                >Home
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-violet-300 hover:bg-gray-600 md:hover:bg-transparent"
                >Founders
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-violet-300 hover:bg-gray-600 md:hover:bg-transparent"
                >Investors
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-violet-300 hover:bg-gray-600 md:hover:bg-transparent"
                >Ideas
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-violet-300 hover:bg-gray-600 md:hover:bg-transparent"
                >Blog
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block md:hidden py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-violet-300 hover:bg-gray-600 md:hover:bg-transparent"
                >Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr
      style="
        background-image: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0) 0%,
          #fff 52.07%,
          rgba(255, 255, 255, 0) 100%
        );
      "
      class="w-full h-px border-0 opacity-10"
    />
  </header>

 
  <section class="py-8  h-screen">
    <div class="sm:p-32 py-32 lg:grid lg:grid-cols-2 items-center h-auto w-auto">
      <!-- elevate -->
      <div class="hidden lg:block text-7xl text-center">
          Elevate
      </div>

      <!-- login/signup  -->
      <div class="flex flex-col items-center justify-center">

        <!--login/signup tab -->
        <div class="bg-white rounded-md text-lg flex justify-around  md:w-96 p-2">
            <button class="bg-black text-white rounded-lg py-1 px-10">Login</button>
            <button class="text-gray-900 rounded-lg py-1 px-10">Signup</button>
        </div>
        <button class="mt-9 w-16">
          <img class="rounded-lg" src="../assets/images/items/google_cover.jpg" alt="Google Authentication">
        </button>

        <div class="my-5 flex items-center justify-center sm:space-x-7 space-x-3 text-gray-50 opacity-70">
          <span class=" flex-shrink-0">. . . . . . . . .</span>
          <div class="text-center pt-2 flex-shrink-0">OR</div>
          <span class=" flex-shrink-0">. . . . . . . . .</span>
        </div>


        <input placeholder="email" type="email" class="form-input md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none" />
        <input placeholder="password" type="password" class="md:w-96 w-64 ps-3 py-1 my-4 border-none bg-white rounded-md text-lg text-gray-900 focus:outline-none" />

        <button class="bg-black hover:border-gray-400 hover:border text-white rounded-lg md:w-96 w-64 py-2 mt-4">Submit</button>

        <button class="text-white my-4">forgot password?</button>
        

          <span class="md:block hidden text-gray-50 opacity-70">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
          <span class="block md:hidden text-gray-50 opacity-70">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
      </div>
  </div>
  </section>

  <footer class="py-6 sm:mt-0 mt-11 sm:px-16 max-sm:px-8 font-[sans-serif]">
    <div class="grid max-sm:grid-cols-1 max-xl:grid-cols-3 text-center sm:text-start justify-between xl:grid-cols-4 gap-16 border-t border-gray-300 mt-10 pt-8">
      
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">Services</h4>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Web
              Development</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Mobile App
              Development</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">UI/UX
              Design</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Digital Marketing</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">Services</h4>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Web
              Development</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Mobile App
              Development</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">UI/UX
              Design</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Digital Marketing</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">Resources</h4>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Webinars</a>
          </li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Ebooks</a>
          </li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Templates</a>
          </li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Tutorials</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">About Us</h4>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Our Story</a>
          </li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Mission and
              Values</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Team</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white text-sm">Testimonials</a></li>
        </ul>
      </div>
    </div>
    <p class='text-gray-300 text-sm mt-8 max-xl:text-center'>© 2023<a href='#' target='_blank'
        class="hover:underline mx-1">Elevate</a>All Rights Reserved.</p>
  </footer>
  
</div>


