<my-spinner></my-spinner>
<div
  class="bg-cover bg-black text-white bg-center bg-no-repeat"
  style="background-image: url(./assets/images/backgrounds/bg.png)"
>
  <ng-container *ngIf="currentLayout === 'admin'; else user">
    <app-admin-nav></app-admin-nav>
    <app-admin-aside></app-admin-aside>
  </ng-container>

  <ng-template #user>
    <app-nav></app-nav>
  </ng-template>

  <router-outlet></router-outlet>

  <ng-container *ngIf="currentLayout !== 'admin'">
    <app-footer></app-footer>
  </ng-container>
</div>
