<my-spinner></my-spinner>

<ng-container *ngIf="(pageLayoutService.layout$ | async) === IRole.ADMIN">
  <div class="bg-white">
    <app-admin-nav></app-admin-nav>
    <router-outlet></router-outlet>
    <app-admin-aside></app-admin-aside>
  </div>
</ng-container>

<ng-container
  *ngIf="(pageLayoutService.layout$ | async) === IRole.FOUNDER"
>
  <div
    class="bg-cover bg-black text-white bg-center bg-no-repeat"
    [style.backgroundImage]="'url(./assets/images/backgrounds/bg.png)'"
  >
    <app-nav></app-nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</ng-container>

<ng-container
  *ngIf="(pageLayoutService.layout$ | async) === IRole.INVESTOR"
>
  <app-investor-aside></app-investor-aside>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-container>
