<app-profile
  (toggleEditBtn)="selectTab($event)"
  (updateImage)="updateProfileImage($event)"
  [userData]="currentUserProfile"
  *ngIf="currentUserProfile; else somethingwrong"
>
  <app-edit-name-input
    class="name-input-edit"
    *ngIf="currentTab === SelectTab.EditName"
    (updateName)="updateName($event)"
  ></app-edit-name-input>
  <app-edit-email
    class="email-input-edit"
    *ngIf="currentTab === SelectTab.EditEmail"
  ></app-edit-email>
  <app-phone-input
    class="phone-input-edit"
    *ngIf="currentTab === SelectTab.EditPhone"
    (updatePhoneNum)="updatePhone($event)"
  >
  </app-phone-input>
  <app-add-address
    class="address-input-edit"
    *ngIf="currentTab === SelectTab.EditAddress"
    (updateAddress)="upsertAddress($event)"
  ></app-add-address>
</app-profile>

<ng-template #somethingwrong>
  <div class="h-screen flex justify-center items-center">
    <p class="w-96 text-6xl">Oops! something wrong please try again later</p>
  </div>
</ng-template>
