<app-profile
  (toggleEditBtn)="selectTab($event)"
  [userData]="currentUserProfile"
>
  <app-edit-name-input
    class="name-input-edit"
    *ngIf="currentTab === SelectTab.EditName"
    (updateName)="updateName($event)"
  ></app-edit-name-input>
  <app-edit-email
    class="email-input-edit"
    *ngIf="currentTab === SelectTab.EditEmail"
  ></app-edit-email>
  <app-phone-input
    class="phone-input-edit"
    *ngIf="currentTab === SelectTab.EditPhone"
    (updatePhoneNum)="updatePhone($event)"
  >
  </app-phone-input>
</app-profile>

