<div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-4 px-10">
  <div
    class="md:col-span-1 mt-8 lg:col-span-1 border flex cursor-pointer w-full max-w-[340px] max-h-[400px] flex-col mx-auto pl-3.5 pr-5 pt-5 pb-3.5 rounded-lg border-solid border-slate-200"
  >
    <img
      loading="lazy"
      [src]="
        profileImg !== 'undefined'
          ? profileImg
          : '../../../../assets/images/profile/profile.png'
      "
      class="aspect-[1.04] object-center rounded-full w-[108px] overflow-hidden self-center max-w-full"
    />
    <h2 class="text-white text-center text-xl">{{ name }}</h2>
    <p class="text-white text-xs leading-[146%] self-stretch">
      {{ description }}
    </p>
  </div>
  <!-- grid 2 -->
  <div class="md:col-span-3 lg:col-span-3 sm:px-10 px-0">
    <p>Portfolio</p>
    <div class="grid sm:grid-cols-2 gap-2">
      <section
        *ngFor="let item of portfolio"
        class="border flex justify-center gap-4 flex-1 pl-3.5 pr-14 py-5 rounded-lg border-solid border-slate-200"
      >
        <img
          loading="lazy"
          src="../../../../assets/images/items/e855848d-b647-4538-83cc-fc068ef27db8.png"
          class="aspect-[1.05] object-contain object-center min-w-[30px] max-w-[43px] overflow-hidden self-stretch w-full"
        />
        <div>
          <p class="text-xl">{{ item.companyName }}</p>
          <div class="text-white text-xs">
            Invested:
            <span class="text-gray-400">November 2020</span>
          </div>
        </div>
      </section>
    </div>

    <div class="text-white text-sm leading-[150%] max-md:max-w-full pt-5">
      <p>Investing Thesis</p>
      <p class="text-white text-xs leading-[146%] self-start max-md:max-w-full">
        a16z operates on the belief that software is revolutionizing every
        industry. They seek to invest in disruptive tech-centric startups across
        various stages, from seed to growth, with an emphasis on visionary
        founders and large market opportunities.
      </p>
    </div>
    <div class="text-white text-sm leading-[150%] max-md:max-w-full pt-5">
      <p>About</p>
      <p class="text-white text-xs leading-[146%] self-start max-md:max-w-full">
        {{ about }}
      </p>
      <p
        class="text-sky-600 text-center text-xs self-stretch max-md:max-w-full"
      >
        Read more
      </p>
    </div>
  </div>
</div>
