<div class="flex mt-3 p-1" >
  <a  (click)="previous()"  *ngIf="nextPreviousButtons"
  class="flex items-center justify-center px-4 py-2 mx-1 text-gray-500 capitalize  bg-opacity-10 rounded-md  rtl:-scale-x-100"
  >
    <!-- <ng-content select="[slot='previous']"></ng-content> -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd"
      />
    </svg>
  </a>
  <ng-container  *ngFor="let p of totalPages; index as i">
    <ng-container *ngIf="i + 1 >= currentPage - maxSize && i + 1 <= currentPage + maxSize">
    <a  class="hidden cursor-pointer px-4 py-2 mx-1 transition-colors duration-300 transform bg-opacity-10 rounded-md sm:inline"  
      (click)="selectPageNumber(i + 1)"
>
      {{ i + 1 }}
    </a>
  </ng-container>
</ng-container>

  <a (click)="next()"  *ngIf="nextPreviousButtons"

   class="flex items-center cursor-pointer justify-center px-4 py-2 mx-1  transition-colors duration-300 transform  bg-opacity-10 rounded-md rtl:-scale-x-100 "
  >
  <!-- <ng-content select="[slot='next']"></ng-content> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"
      />
    </svg>
  </a>
