<app-tab-container
  [currentTab]="currentTab"
  (tabSelected)="selectedTab($event)"
>
  <app-login-form
    (submitLoginForm)="loginFormSubmit($event)"
    *ngIf="currentTab === TabType.Login"
  ></app-login-form>
  <app-signup-form
    (submitSignupForm)="signupFormSubmit($event)"
    *ngIf="currentTab === TabType.Signup"
  ></app-signup-form>
  <app-email-verify-form
    (submitVerifyEmailForm)="verifyEmailFormSubmit($event)"
    *ngIf="currentTab === TabType.Forgot"
  ></app-email-verify-form>
  <app-verify-otp-form
    (submitVerifyOtpForm)="verifyOtpSubmit($event)"
    *ngIf="currentTab === TabType.Verify"
  ></app-verify-otp-form>
</app-tab-container>
