<div class="flex flex-col mt-6 px-4 shadow-lg">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div
        class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg shadow-lg"
      >
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead class="bg-white">
            <tr>
              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-700"
              >
                No
              </th>
              <th
                *ngFor="let column of columnArray"
                scope="col"
                class="px-4  text-sm border border-x-black font-normal text-left rtl:text-right text-gray-700"
              >
                {{ column.header }}
              </th>
              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-700"
              >
                Details
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white bg-opacity-5">
            <tr *ngFor="let item of investorDetail; let no = index">
              <td class="px-4 py-4 text-xs text-gray-300 whitespace-nowrap">
                {{ no + 1 }}
              </td>
              <td *ngFor="let entry of columnArray" class="px-4 py-4 text-xs border text-center text-gray-300">
                <ng-container *ngIf="entry.datatype !== 'amount'; else amount">
                  <div class=" w-24 truncate">
                    {{ getValue(item, entry.fieldName) }}
                  </div>
                </ng-container>
                <ng-template #amount>
                  <div class=" w-24 truncate">
                    {{ getValue(item, entry.fieldName) | appFormatInvestmentAmount }}
                  </div>
                </ng-template>
              </td>
              <td class="px-4 py-4 text-xs text-gray-300 text-center whitespace-nowrap" [routerLink]="['/founder/investor', item.id]">
                <app-loading-button [label]="'Details'" [buttonClass]="'bg-blue-500 p-2 text-white'"></app-loading-button>
              </td>
            </tr>
          </tbody>
          
          
        </table>
      </div>
    </div>
  </div>
</div>
