<section class="py-8">
  <div class="sm:px-24 sm:pt-24 pt-32 lg:grid lg:grid-cols-2">
    <!-- elevate -->
    <div class="hidden lg:flex flex-col items-center justify-center text-7xl text-center h-96">
      <span>Elevate</span>
      <span class="text-sm mt-4 text-violet-300">
        <button [routerLink]="['/auth/investor/login']" >Login as an investor?</button>
      </span>
    </div>
    <!-- login/signup  -->
    <div class="flex flex-col items-center justify-center">
      <!--login/signup tab -->
      <div
        class="bg-white shadow-2xl shadow-blue-500/50 rounded-md text-lg flex gap-1 justify-around md:w-96 w-64 p-2"
      >
        <button
          [ngClass]="{
            'bg-black': currentTab !== TabType.Signup,
            'text-black': currentTab === TabType.Signup,
            'hover:bg-slate-300': currentTab === TabType.Signup
          }"
          (click)="selectTab(TabType.Login)"
          class="rounded-lg py-1 px-7 md:px-10"
        >
          Login
        </button>
        <button
          [ngClass]="{
            'bg-black': currentTab === TabType.Signup,
            'text-black': currentTab !== TabType.Signup,
            'hover:bg-slate-300': currentTab !== TabType.Signup
          }"
          (click)="selectTab(TabType.Signup)"
          class="rounded-lg py-1 px-7 md:px-10"
        >
          Signup
        </button>
      </div>
<!-- 
      <asl-google-signin-button
        type="icon"
        size="large"
        class="mt-9"
      ></asl-google-signin-button> -->

      <div
        class="mt-5 flex items-center justify-center sm:space-x-7 space-x-3 text-gray-50"
      >
        <span class="flex-shrink-0">. . . . . . . . .</span>
        <div class="text-center pt-2 flex-shrink-0">OR</div>
        <span class="flex-shrink-0">. . . . . . . . .</span>
      </div>
      <ng-content></ng-content>

      <div
        *ngIf="currentTab === TabType.Login"
        class="flex justify-center items-center"
      >
        <button (click)="selectTab(TabType.Verify)" class="text-white my-4">
          forgot password?
        </button>
      </div>

      <span class="md:block hidden text-gray-50"
        >. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
        . . . . . . . .</span
      >
      <span class="block md:hidden text-gray-50"
        >. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span
      >
    </div>
  </div>
</section>
