<section>
  <p class="md:text-4xl text-xl mb-2">Messages</p>
  <div class="flex border border-black shadow-xl">
    <!-- Left -->
    <div class="sm:w-1/3 w-full border-r border-black flex flex-col">
      <!-- Search -->
      <div class="py-2 px-2 bg-grey-lightest">
        <input
          type="text"
          class="w-full px-2 py-2 text-sm"
          placeholder="Search or start new chat"
        />
      </div>
      <app-chat-list [users]="users"></app-chat-list>
    </div>
    <!-- Right -->
    <div class="sm:w-2/3 w-full hidden border sm:flex flex-col">
      <router-outlet #outlet="outlet"></router-outlet>

      <div *ngIf="!outlet.isActivated" class="bg-gray-200 min-h-full">
        <div
          class="py-2 px-3 bg-white flex flex-row justify-between items-center border-b border-black"
        >
          <div class="flex items-center">
            <div class="ml-4 mt-2">
              <p class="text-grey-darkest">
                connect with founders
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
