<!-- Header -->
<div
  class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center "
>
  <div class="flex items-center">
    <div>
      <img
        class="w-10 h-10 rounded-full"
        [src]="participant?.profileImgUrl"
      />
    </div>
    <div class="ml-4 mt-2">
      <p class="text-grey-darkest">{{participant?.firstName}}</p>
    </div>
  </div>
</div>
 
<!-- Messages -->
<div class="flex-1 overflow-auto h-[20rem] " #scrollMe>
  <div class="py-2 px-3">
    <ng-container *ngFor="let msg of msgs">
      <div class="flex mb-2" [ngClass]="{'justify-end': isSendByUser(msg)}">
        <div
          class="rounded py-2 px-3"
          [style.background-color]="isSendByUser(msg) ? '#e2f7cb' : '#f2f2f2'"
        >
          <p *ngIf="!isSendByUser(msg)" class="text-sm text-gray-600">{{participant?.firstName}}</p>
          <p class="text-sm text-black mt-1">{{msg.text}}</p>
          <p class="text-right text-xs text-grey-dark mt-1 text-gray-500">{{msg.createdAt | date :'h:mm a'}}</p>
        </div>
      </div>
    </ng-container>
    
  </div>
</div>

<!-- Input -->
<div class="bg-grey-lighter px-4 py-4 flex items-center border-t border-black">
  
  <div class="flex-1 mx-4">
    <input
      [(ngModel)]="message"
      class="w-full border text-black rounded px-2 py-2"
      type="text"
      (keyup)="$event.keyCode == 13 && sendMessage()"
    />
  </div>
  <div>
    <button>
    <svg
      (click)="sendMessage()"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-10 h-10 hover:bg-black hover:rounded-full hover:bg-opacity-10 p-2 cursor-pointer"
    >
      <path
        opacity=".45"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
      />
    </svg>
  </button>
  </div>
</div>
